
@import url( "https://fonts.googleapis.com/css?family=Roboto:300")


body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.navbar { background-color: whitesmoke;
    height: 100px;
    font-family: Arial;
    font-size: 13px;
    color: black ;}