
@import url( "https://fonts.googleapis.com/css?family=Roboto:300")


#test {

}

body {
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.navbar { background-color: rgb(0, 0, 0);
    height: 80px;
    font-family: 'Roboto';
    font-size: 13px;
    color: rgb(255, 255, 255) ;
}

.tabPanel {
    background-color: black;
    color: white;
}

.img {
    width : "200px";
    height : "60px";
    box-align : "top";
}

#intro{
    width: 1000px; height: 1000px
}

#test{
    font-size: 15px;
    color: white;
}

.tabs-above > .nav > li[class=active] > a {
    background-color: #000;
    color: #FFF;
 }

 .tabs-above > .nav > li[class=hover] > a {
    background-color: rgb(158, 74, 74);
    color: #FFF;
 }


.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
        background-color: transparent;
        border-color: transparent;
}
   
.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #FFF;
}